<div *ngIf="user" style="background-color: #f8f8f8;">
  <div class="uk-light uk-background-secondary uk-padding">
    <h3 class="uk-heading-line"><span>Welcome {{user.nickname}}</span></h3>

    <fieldset class="uk-fieldset">
      <div class="row">
        <div class="col-4 pr-3">
          <h3>General Info</h3>
          <div class="uk-margin">
            <label class="uk-form-label" for="first_name">First Name</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="first_name" type="text" [(ngModel)]="info.first_name"
                     placeholder="First name">
            </div>
          </div>
          <div class="uk-margin">
            <label class="uk-form-label" for="last_name">Last Name</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="last_name" type="text" [(ngModel)]="info.last_name" placeholder="First name">
            </div>
          </div>
        </div>
        <div class="col-4">
          <h3>Address</h3>
          <div class="uk-margin">
            <label class="uk-form-label" for="address_street">Street</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="address_street" type="text" [(ngModel)]="info.address_street"
                     placeholder="First name">
            </div>
          </div>
          <div class="uk-margin">
            <label class="uk-form-label" for="address_country">Country</label>
            <div class="uk-form-controls">
              <input class="uk-input" id="address_country" type="text" [(ngModel)]="info.address_country"
                     placeholder="First name">
            </div>
          </div>
          <hr>
          <button class="uk-button uk-button-default" (click)="addToUserMetadata()">Update profile</button>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="uk-dark uk-background-muted uk-padding">
    <ul class="uk-subnav uk-subnav-pill" uk-switcher="animation: uk-animation-fade">
      <li><a href="#">Cart</a></li>
      <li><a href="#">Favourites</a></li>
    </ul>

    <ul class="uk-switcher uk-margin">
      <li>
        <h3 class="uk-heading-line"><span>Cart</span></h3>
        <table class="uk-table uk-table-middle uk-table-small uk-table-divider profile-tables" *ngIf="cart.length != 0">
          <thead>
          <tr>
            <th>picture</th>
            <th>title</th>
            <th>views</th>
            <th>when_made</th>
            <th>quantity</th>
            <th>price</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of cart">
            <td class="uk-table-shrink"><img style="border-radius: 50%" src="{{item.MainImage.url_75x75}}" width="35"
                                             height="35"></td>
            <td class="uk-table-expand">{{unescape(item.title)}}</td>
            <td class="uk-table-shrink">{{item.views}}</td>
            <td class="uk-table-shrink">{{item.when_made}}</td>
            <td class="uk-table-shrink">
              <div class="uk-margin">
                <select class="uk-select uk-form-small" #quantity (change)="onChange(item.listing_id, quantity.value)"
                        [value]="item.quantity_to_buy || 1">
                  <option *ngFor="let n of newArray(item.quantity); let i=index" [value]="i + 1">{{i + 1}}</option>
                </select>
              </div>
            </td>
            <td class="uk-table-shrink">{{item.price * quantity.value}} {{item.currency_code === 'USD'? '$' : '€'}}</td>
            <td class="uk-table-shrink">
              <a uk-icon="icon: close" class="card-link" (click)="removeItem('cart', item.listing_id)"
                 title="Delete item" uk-tooltip></a>
            </td>
          </tr>
          </tbody>
        </table>
        <button class="uk-button uk-button-default uk-button-small uk-float-right" href="#modal-checkout" uk-toggle
                *ngIf="cart.length != 0" (click)="calculateTotal()">
          <span uk-icon="icon: credit-card"></span> Checkout
        </button>

        <p *ngIf="cart.length == 0">No items</p>

        <div id="modal-checkout" uk-modal="center: true">
          <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
              <h2 class="uk-modal-title">Checkout</h2>
            </div>
            <div class="uk-modal-body">
              <h3>Total: {{total}}</h3>
              <form class="uk-grid-small" uk-grid>
                <div class="uk-width-1-1">
                  <input class="uk-input" type="text" placeholder="Full name">
                </div>
                <div class="uk-width-1-1">
                  <input class="uk-input" type="number" placeholder="Card number">
                </div>
                <div class="uk-width-1-2@s">
                  <input class="uk-input" type="date" placeholder="Expiration date">
                </div>
                <div class="uk-width-1-2@s">
                  <input class="uk-input" type="number" placeholder="CVV">
                </div>
              </form>
            </div>
            <div class="uk-modal-footer uk-text-right">
              <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
              <button class="uk-button uk-button-primary" type="button">Save</button>
            </div>
          </div>
        </div>
      </li>
      <li>
        <h3 class="uk-heading-line"><span>Favourites</span></h3>
        <table class="uk-table uk-table-middle uk-table-small uk-table-divider profile-tables" *ngIf="fav.length != 0">
          <thead>
          <tr>
            <th>picture</th>
            <th>title</th>
            <th>views</th>
            <th>when_made</th>
            <th>price</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of fav">
            <td class="uk-table-shrink"><img style="border-radius: 50%" src="{{item.MainImage.url_75x75}}" width="35"
                                             height="35"></td>
            <td class="uk-table-expand">{{item.title}}</td>
            <td class="uk-table-shrink">{{item.views}}</td>
            <td class="uk-table-shrink">{{item.when_made}}</td>
            <td class="uk-table-shrink">{{item.price}} {{item.currency_code === 'USD'? '$' : '€'}}</td>
            <td class="uk-table-shrink">
              <a uk-icon="icon: close" class="card-link" (click)="removeItem('fav', item.listing_id)"
                 title="Delete item" uk-tooltip></a>
            </td>
          </tr>
          </tbody>
        </table>

        <p *ngIf="fav.length == 0">No favourites</p>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-12" id="logs">
      <div *ngIf="logs">
        <div class="uk-light uk-background-secondary uk-padding">
          <h3 class="uk-heading-line"><span>Logs</span></h3>
          <table class="uk-table uk-table-small uk-table-divider">
            <thead>
            <tr>
              <th>connection</th>
              <th>connection_id</th>
              <th>date</th>
              <th>ip</th>
              <th>country_name</th>
            </tr>
            </thead>
            <tbody *ngFor="let log of logs; let i=index">
            <tr *ngIf="i < 10">
              <td>{{log.connection}}</td>
              <td>{{log.connection_id}}</td>
              <td>{{parseDateFromNow(log.date)}}</td>
              <td>{{log.ip}}</td>
              <td>{{log.location_info.country_name}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <p *ngIf="!logs">Loading logs...</p>
    </div>
  </div>
  <!--<div class="row">-->
  <!--<div class="col-4">-->
  <!--<dl class="uk-description-list">-->
  <!--<dt>Description term</dt>-->
  <!--<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>-->
  <!--<dt>Description term</dt>-->
  <!--<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore-->
  <!--magna aliqua.-->
  <!--</dd>-->
  <!--<dt>Description term</dt>-->
  <!--<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore-->
  <!--magna aliqua.-->
  <!--</dd>-->
  <!--</dl>-->
  <!--</div>-->
  <!--<div class="col-8">-->
  <!--<h1 class="uk-heading-line"><span>Your cart</span></h1>-->
  <!--<table class="uk-table uk-table-small uk-table-divider">-->
  <!--<thead>-->
  <!--<tr>-->
  <!--<th>Title</th>-->
  <!--<th>Quantity</th>-->
  <!--<th>Price</th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--<tr>-->
  <!--<td>Table Data</td>-->
  <!--<td>Table Data</td>-->
  <!--<td>Table Data</td>-->
  <!--</tr>-->
  <!--</tbody>-->
  <!--</table>-->
  <!--</div>-->
  <!--</div>-->

</div>
<div *ngIf="!user">
  <div *ngIf="!loaded" style="height: 100%">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
</div>
