<div uk-alert class="mt-4">
  <h3>Welcome</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua.</p>
</div>
{{user | json}}
<button (click)="updateUser()">Button</button>
<div class="row">
  <div class="col-4">
    <dl class="uk-description-list">
      <dt>Description term</dt>
      <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</dd>
      <dt>Description term</dt>
      <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
      <dt>Description term</dt>
      <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
    </dl>
  </div>
  <div class="col-8">
    <h1 class="uk-heading-line"><span>Your cart</span></h1>
    <table class="uk-table uk-table-small uk-table-divider">
      <thead>
      <tr>
        <th>Title</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Table Data</td>
        <td>Table Data</td>
        <td>Table Data</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
